Parameters:
  privatekey:
    Type: String
    Description: "The path to the private key in Amazon S3"
    Default: "https://s3-eu-central-1.amazonaws.com/tincture-ssl/server.key"
  publiccert:
    Type: String
    Description: "The public certificate"
    Default: "https://s3-eu-central-1.amazonaws.com/tincture-ssl/server.crt"

files:
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    source: { "Ref" : "publiccert" }

  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    authentication: "S3Auth"
    source: { "Ref" : "privatekey" }

container_commands:
  01restart_nginx:
    command: "service nginx restart"